{% load staticfiles %}

<html>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'webapp/css/slate.css' %}?t=6" />
<script type="text/javascript" src="{% static 'webapp/js/slate.js' %}?t=2"></script>
</head>
<body>

<div class="item-container">
  <img class="logo" src="{% static 'webapp/images/pebblefan_logo_orange.png' %}" />
  <div class="item-container-header">基本设置{%if version_number%}   (版本: {{version_number}}){%endif%}</div>
  <div class="item-container-content">
    <label class="item" id="weather_station_label">
      选择气象台
      <select name="weather_station" id="weather_station" dir='rtl' class="item-select">
        <option class="item-select-option" value="C" selected>中国中央气象台</option>
        <option class="item-select-option" value="G">全球气象台</option>
      </select>
    </label>

    <div class="item" style="padding-bottom:0;">
    <span id="watchid" style="display:none;">{{watchid}}</span>
    <span id="station_notice">不想GPS自动定位,请输入你的中文城市名(比如:成都),否则保留空白</span>
    </div>
      <div class="item-input-wrapper">
        <input type="text" class="item-input" id="city_name" name="city_name" placeholder="手动输入城市名" value="{{city_name}}">
      </div>

      <label class="item" {%if show_version%}{%else%}style="display:none;"{%endif%}>
        选择表盘样式
        <select name="watch_style" id="watch_style" dir='rtl' class="item-select">
          <option class="item-select-option" value="qinxin" {% ifequal watch_style 'qinxin' %}selected{% endifequal %}>清新版</option>
          <option class="item-select-option" value="yuanshi" {% ifequal watch_style 'yuanshi' %}selected{% endifequal %}>原始版</option>
        </select>
      </label>

    <label class="item" id="switch_bw_label" {%if show_color%}{%else%}style="display:none;"{%endif%}>
      切换成黑白色
      <input type="checkbox" class="item-toggle" name="switch_bw_check" id="switch_bw_check">
    </label>

      <label class="item" {%if show_invert_color%}{%else%}style="display:none;"{%endif%} id="bw_color_label">
        表盘颜色
        <select name="invert_color" id="invert_color" dir='rtl' class="item-select">
          <option class="item-select-option" value="B" {% ifequal invert_color 'B' %}selected{% endifequal %}>上黑下白</option>
          <option class="item-select-option" value="W" {% ifequal invert_color 'W' %}selected{% endifequal %}>上白下黑</option>
          <option class="item-select-option" value="0" {% ifequal invert_color '0' %}selected{% endifequal %}>全黑有线</option>
          <option class="item-select-option" value="1" {% ifequal invert_color '1' %}selected{% endifequal %}>全白有线</option>
          <option class="item-select-option" value="2" {% ifequal invert_color '2' %}selected{% endifequal %}>全黑无线</option>
          <option class="item-select-option" value="3" {% ifequal invert_color '3' %}selected{% endifequal %}>全白无线</option>
        </select>
      </label>

     <label id="color_label" class="item" {%if show_color%}{%else%}style="display:none;"{%endif%}>
        表盘颜色
        <input type="text" class="item-color item-color-normal" name="watch_color" id="watch_color" value="{{watch_color}}">
      </label>

      <label class="item" id="bluetooth_label">
        蓝牙通断震动提醒
        <input type="checkbox" class="item-toggle" name="bluetooth_alert" id="bluetooth_alert" {%if bluetooth_alert%}checked{%endif%}>
      </label>

      <label class="item" id="tap_label">
        晃动开关
        <input type="checkbox" class="item-toggle" name="tap_check" id="tap_check" {%if tap_check %}checked{%endif%}>
      </label>

    <label class="item" id="shake_sens_label">
      &nbsp;&nbsp;晃动灵敏度
      <select name="shake_sens_sel" id="shake_sens_sel" dir='ltr' class="item-select">
        <option class="item-select-option" value="0" {% ifequal shake_sens '0' %}selected{% endifequal %}>高</option>
        <option class="item-select-option" value="1" {% ifequal shake_sens '1' %}selected{% endifequal %}>中</option>
        <option class="item-select-option" value="2" {% ifequal shake_sens '2' %}selected{% endifequal %}>低</option>
        <option class="item-select-option" value="4" {% ifequal shake_sens '4' %}selected{% endifequal %}>很低</option>
      </select>
    </label>

      <label class="item" id="hour24_label">
        24小时制
        <input type="checkbox" class="item-toggle" name="hour24_check" id="hour24_check" {%if hour24_check %}checked{%endif%}>
      </label>

    <label class="item" id="show_second_label">
      显示秒
      <input type="checkbox" class="item-toggle" name="show_second_check" id="show_second_check" {%if show_second_check %}checked{%endif%}>
    </label>

      <label class="item">
        定时提醒
        <select name="vibration_period" id="vibration_period" dir='rtl' class="item-select">
          <option class="item-select-option" value="0" selected>不提醒</option>
          <option class="item-select-option" value="30">每30分钟</option>
          <option class="item-select-option" value="40">每40分钟</option>
          <option class="item-select-option" value="45">每45分钟</option>
          <option class="item-select-option" value="60">每小时</option>
        </select>
      </label>
      <label class="item" id="not_alert_label" style="display:none;">
        设置不提醒时间
        <input type="checkbox" class="item-toggle" name="not_alert" id="not_alert" checked>
      </label>
      <label class="item" id="not_alert_start_label" style="display:none;">
        &nbsp;&nbsp;不提醒开始时间
        <select name="not_alert_start" id="not_alert_start" dir='rtl' class="item-select">
          {% for hour in no_alert_range %}
          <option class="item-select-option" value="{{hour}}">{{hour}}点</option>
          {% endfor %}
        </select>
      </label>
      <label class="item" id="not_alert_end_label" style="display:none;">
        &nbsp;&nbsp;不提醒结束时间
        <select name="not_alert_end" id="not_alert_end" dir='rtl' class="item-select">
          {% for hour in no_alert_range %}
          <option class="item-select-option" value="{{hour}}">{{hour}}点</option>
          {% endfor %}
        </select>
      </label>
  </div>

{%if show_custom%}
    <div class="item-container-header">信息窗设置</div>
    <div class="item-container-content">
      <label class="item" id="countday_label">
        数日子/数时间
        <input type="checkbox" class="item-toggle" name="countday_check" id="countday_check">
      </label>
      <div class="item-input-wrapper" style="display: none;" id="mydate_name_div">
        <input type="text" class="item-input" id="mydate_name" name="mydate_name" placeholder="日子名" value="{{mydate_name}}" maxlength="7">
      </div>
      
      <label class="item" style="display: none;" id="mydate_div">
        &nbsp;&nbsp;日期(起/止)
        <input type="date" class="item-date" id="mydate" name="mydate" value="{{mydate}}">
      </label>

      <label class="item" style="display: none;" id="mytime_div">
        &nbsp;&nbsp;时间(起/止)
        <input type="time" class="item-time" id="mytime" name="mytime" value="{{mytime}}">
      </label>

      <label class="item" style="display: none;" id="countday_type_div">
        &nbsp;&nbsp;计数方式
        <select name="countday_type" id="countday_type" dir='rtl' class="item-select">
          <option class="item-select-option" value="Y" selected>年月天</option>
          <option class="item-select-option" value="H">天时</option>
          <option class="item-select-option" value="M">天时分</option>
          <option class="item-select-option" value="S">天时分秒</option>
        </select>
      </label>

    <label class="item" id="note_label">
      备忘录
      <input type="checkbox" class="item-toggle" name="note_check" id="note_check">
    </label>
    <div class="item-input-wrapper" style="display: none;" id="mytxt1_div">
      <input type="text" class="item-input" id="mytxt1" name="mytx1" placeholder="第一行" value="{{mytxt1}}" maxlength="7">
    </div>
    <div class="item-input-wrapper" style="display: none;" id="mytxt2_div">
      <input type="text" class="item-input" id="mytxt2" name="mytxt2" placeholder="第二行" value="{{mytxt2}}" maxlength="7">
    </div>
    
    <label class="item" id="today_weather_label">
      今日天气
      <input type="checkbox" class="item-toggle" name="today_weather_check" id="today_weather_check">
    </label>

    <label class="item" id="health_label">
      健康数据 ({%if show_color%}任选两个{%else%}黑白表支持前两个{%endif%})
      <input type="checkbox" class="item-toggle" name="health_check" id="health_check">
    </label>

    <label class="item" style="display: none;" id="health_steps_label">
      &nbsp;&nbsp;<img class="health_icon" src="{% static 'webapp/images/step_orange.png' %}" /><span class="health_name">运动步数</span>
      <input type="checkbox" class="item-toggle" name="health_steps" id="health_steps">
    </label>

    <label class="item" style="display: none;" id="health_calories_label">
      &nbsp;&nbsp;<img class="health_icon" src="{% static 'webapp/images/calories_orange.png' %}" /><span class="health_name">消耗能量(卡路里)</span>
      <input type="checkbox" class="item-toggle" name="health_calories" id="health_calories">
    </label>

    <label class="item" style="display: none;" id="health_time_label">
      &nbsp;&nbsp;<img class="health_icon" src="{% static 'webapp/images/time_orange.png' %}" /><span class="health_name">运动耗时</span>
      <input type="checkbox" class="item-toggle" name="health_time" id="health_time">
    </label>

    <label class="item" style="display: none;" id="health_distance_label">
      &nbsp;&nbsp;<img class="health_icon" src="{% static 'webapp/images/km_orange.png' %}" /><span class="health_name">运动距离(公里)</span>
      <input type="checkbox" class="item-toggle" name="health_distance" id="health_distance">
    </label>

    <label class="item" style="display: none;" id="health_sleep_time_label">
      &nbsp;&nbsp;<img class="health_icon" src="{% static 'webapp/images/sleep_orange.png' %}" /><span class="health_name">睡眠时间</span>
      <input type="checkbox" class="item-toggle" name="health_sleep_time" id="health_sleep_time">
    </label>

    <label class="item" style="display: none;" id="health_deep_sleep_time_label">
      &nbsp;&nbsp;<img class="health_icon" src="{% static 'webapp/images/deep_sleep_orange.png' %}" /><span class="health_name">深睡时间</span>
      <input type="checkbox" class="item-toggle" name="health_deep_sleep_time" id="health_deep_sleep_time">
    </label>

    </div>
{%endif%}

    <div class="item-container-header">Timeline设置</div>
    <div class="item-container-content">

    <label class="item" id="timeline_news_label">
      新闻头条
      <input type="checkbox" class="item-toggle" name="timeline_news_check" id="timeline_news_check" {%if timeline_news_check %}checked{%endif%}>
    </label>

    <label class="item" id="timeline_english_label">
      每日英语
      <input type="checkbox" class="item-toggle" name="timeline_english_check" id="timeline_english_check" {%if timeline_english_check %}checked{%endif%}>
    </label>

    <label class="item" id="timeline_zhongchao_label">
      中超联赛
      <input type="checkbox" class="item-toggle" name="timeline_zhongchao_check" id="timeline_zhongchao_check" {%if timeline_zhongchao_check %}checked{%endif%}>
    </label>

    <label class="item" id="timeline_huangli_label">
      黄历宜忌
      <input type="checkbox" class="item-toggle" name="timeline_huangli_check" id="timeline_huangli_check" {%if timeline_huangli_check %}checked{%endif%}>
    </label>
    </div>


      <div class="item-container">
        <div class="button-container">
          <input type="button" class="item-button" id="submit_button" value="保存">
        </div>
      </div>

  <div class="item-container-footer">
    Developed by 卵石坊, 微信号:<a href="weixin://contacts/profile/gh_ec6585b08e39">pebblecn</a><br/>
    编号:{{sn}}
  </div>
</div>
<script type="text/javascript" src="{% static 'webapp/js/chinaface3.js' %}?t=2016120701"></script>
<script type="text/javascript">  
set_alert_value('{{vibration_period}}', '{{not_alert}}', '{{not_alert_start}}', '{{not_alert_end}}');  
set_info_window_check('{{countday_check}}', '{{note_check}}', '{{today_weather_check}}', '{{health_check}}');
set_countday_type_value('{{countday_type}}');
set_weather_station('{{weather_station}}');
set_health_value_check('{{health_value}}');
set_tap_check('{{tap_check}}');
{%if show_color%}
set_switch_bw_check('{{switch_bw_check}}');
{%endif%}
</script>
</body>
</html>