{% load staticfiles %}

<html>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'webapp/css/slate.css' %}" />
<script type="text/javascript" src="{% static 'webapp/js/slate2.js' %}"></script>
</head>
<body>

<div class="item-container">
  <div class="item-container-header">中国面子表盘设置</div>
  <div class="item-container-content">
    <div class="item">
    <span id="watchid" style="display:none;">{{watchid}}</span>
    不想GPS自动定位,请输入你的中文城市名(比如:成都),否则保留空白
    </div>
      <div class="item-input-wrapper">
        <input type="text" class="item-input" id="city_name" name="city_name" placeholder="手动输入中文城市名" value="{{city_name}}">
      </div>

      <label class="item" {%if show_version%}{%else%}style="display:none;"{%endif%}>
        选择表盘样式
        <select name="watch_style" id="watch_style" dir='rtl' class="item-select">
          <option class="item-select-option" value="qinxin" {% ifequal watch_style 'qinxin' %}selected{% endifequal %}>清新版</option>
          <option class="item-select-option" value="yuanshi" {% ifequal watch_style 'yuanshi' %}selected{% endifequal %}>原始版</option>
        </select>
      </label>

      <label class="item" {%if show_invert_color%}{%else%}style="display:none;"{%endif%}>
        表盘颜色
        <select name="invert_color" id="invert_color" dir='rtl' class="item-select">
          <option class="item-select-option" value="B" {% ifequal invert_color 'B' %}selected{% endifequal %}>黑底白字</option>
          <option class="item-select-option" value="W" {% ifequal invert_color 'W' %}selected{% endifequal %}>白底黑字</option>
        </select>
      </label>

     <label class="item" {%if show_color%}{%else%}style="display:none;"{%endif%}>
        选择表盘颜色
        <input type="text" class="item-color item-color-normal" name="watch_color" id="watch_color" value="{{watch_color}}">
      </label>

      <label class="item" id="bluetooth_label">
        蓝牙通断震动提醒
        <input type="checkbox" class="item-toggle" name="bluetooth_alert" id="bluetooth_alert" {%if bluetooth_alert%}checked{%endif%}>
      </label>

      <label class="item">
        久坐提醒
        <select name="vibration_period" id="vibration_period" dir='rtl' class="item-select">
          <option class="item-select-option" value="0" selected>不提醒</option>
          <option class="item-select-option" value="30">每30分钟</option>
          <option class="item-select-option" value="40">每40分钟</option>
          <option class="item-select-option" value="45">每45分钟</option>
          <option class="item-select-option" value="60">每小时</option>
        </select>
      </label>
      <label class="item" id="not_alert_label" style="display:none;">
        设置不提醒时间
        <input type="checkbox" class="item-toggle" name="not_alert" id="not_alert" checked>
      </label>
      <label class="item" id="not_alert_start_label" style="display:none;">
        &nbsp;&nbsp;不提醒开始时间
        <select name="not_alert_start" id="not_alert_start" dir='rtl' class="item-select">
          {% for hour in no_alert_range %}
          <option class="item-select-option" value="{{hour}}">{{hour}}点</option>
          {% endfor %}
        </select>
      </label>
      <label class="item" id="not_alert_end_label" style="display:none;">
        &nbsp;&nbsp;不提醒结束时间
        <select name="not_alert_end" id="not_alert_end" dir='rtl' class="item-select">
          {% for hour in no_alert_range %}
          <option class="item-select-option" value="{{hour}}">{{hour}}点</option>
          {% endfor %}
        </select>
      </label>

      <div class="item-container">
        <div class="button-container">
          <input type="button" class="item-button" id="submit_button" value="保存">
        </div>
      </div>
  </div>
  <div class="item-container-footer">
    Developed by Pebble中国, 微信号:<a href="weixin://contacts/profile/gh_ec6585b08e39">pebblecn</a>
  </div>
</div>
<script type="text/javascript" src="{% static 'webapp/js/chinaface.js' %}?t=201512301400"></script>
<script type="text/javascript">  
set_alert_value('{{vibration_period}}', '{{not_alert}}', '{{not_alert_start}}', '{{not_alert_end}}');  
</script>
</body>
</html>