{% load i18n %}
{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimal-ui"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<title>GoPoop Terms of Use</title>
</head>

<body>
<h2>Terms of Use</h2>

<h3>
General
</h3>

<p>
These Terms of Use govern, together with the Privacy Policy, your use of the GoPoop mobile application (the ”Application”) and related services.

By downloading the Application you agree to be bound by these Terms of Use and by completing the online registration process, you confirm and affirm that you have read, understood and agree to these Terms of Use. If you do not agree to these Terms of Use, do not use the Application.
</p>

<h3>
Intellectual Property Rights
</h3>

<p>
The Application and all related trademarks, logos, software and other intellectual property rights are and shall remain our exclusive property. Your right to use the Application and its content is personal, non-exclusive, non-sublicenseable and non-transferable. Any copying, republication or redistribution of the Application is strictly prohibited.
</p>

<h3>
Disclaimer of Warranty
</h3>

<p>
The Application and all of its content is provided on an ”As Is” and ”As available” basis and We do not provide any assurances of the availability or usability by you of the Application.
</p>

<h3>
Limitation of Liability
</h3>

<p>
We shall not be liable for any errors in any content or for any actions taken in reliance thereon. Furthermore, we shall not be liable to you for any interception of online communications, software or hardware problems (including, without limitation, viruses, loss of data or compatibility conflicts).
</p>

<h3>
GoPoop Subscription
</h3>

<p>
You may at any time terminate your membership, in which case your membership will still be valid for the subscription time you have already paid for. Our auto renewable In-app purchase subscriptions can only be cancelled using the App Store or Google Play cancelation services. Subscription fees can be found in the mobile application GoPoop. We reserve the right to change the subscription fees from time to time.
</p>

<h3>
Miscellaneous
</h3>
<p>
We reserve the right to, from time to time, in our sole discretion amend these Terms of Use. It is your responsibility to review these Terms of Use from time to time to understand the extent of changes. Your continued use of the Application constitutes your agreement to the amended and updated Terms of Use.
</p>

</body>