{% load i18n %}
{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimal-ui"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<title>GoPoop Terms and conditions</title>
</head>

<body>
<h2>Terms and conditions for Premium subscription</h2>

<p>
GoPoop has an optional Premium subscription that costs {{price}} per year.
</p>

<p>
This Premium subscription includes a free trial. You will not be charged until the free trial has expired.
</p>

<p>
On the last day of the free trial period, unless you cancelled your subscription, you will be automatically charged the applicable subscription fee. The purchase will be charged to your iTunes account.
</p>

<p>
Once you're a subscriber, you can manage your subscription from iTunes or on your iOS unit after purchasing it, and you'll also be able to cancel the auto-renewing subscription from there.
</p>

<p>
Deleting the app does not cancel the subscription. You can, however, cancel a subscription even after you've deleted the app.
</p>

<p>
The subscription will auto-renew 24 hours before the subscription period ends, with the same kind of subscription you already bought, to the same price.
</p>

<p>
For more information please refer to these articles.
</p>

<p>
<a href="/webapp/term_use_en">Terms of use</a>
</p>

<p>
<a href="/webapp/privacy_en">Privacy policy</a>
</p>
</body>