{% load i18n %}
{% load staticfiles %}

<html>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'webapp/css/slate.css' %}?t=6" />
<script type="text/javascript" src="{% static 'webapp/js/slate_treasurebox.js' %}?t=2"></script>
</head>
<body>

<div class="buy_flag_div">
  {%if already_pay %}
    <img class="buy_flag" src="{% static 'webapp/images/bg_own_en.png' %}?t=4" />
    <span style="color: #d9ba9f;">ID:{{sn}}</span>
  {%else%}
    <img class="buy_flag" src="{% static 'webapp/images/bg_try_en.png' %}?t=4" />
    <span style="color: #afc3c9;">ID:{{sn}}</span>
  {%endif%}
</div>

<div class="item-container">
  <img class="logo" src="{% static 'webapp/images/logo_en_140x153.png' %}" />
  <div class="item-container-header">{% trans "Common Settings" %}{%if version_number%}   ({% trans "Version" %}: {{version_number}}){%endif%}</div>
  <div class="item-container-content">
    
    <label class="item" id="language_label">
      {% trans "Language" %}
      <select name="language_select" id="language_select" dir='rtl' class="item-select">
        <option class="item-select-option" value="en" {% ifequal language 'en' %}selected{% endifequal %}>English</option>
        <option class="item-select-option" value="es" {% ifequal language 'es' %}selected{% endifequal %}>Español</option>
        <option class="item-select-option" value="de" {% ifequal language 'de' %}selected{% endifequal %}>Deutsch</option>
        <option class="item-select-option" value="fr" {% ifequal language 'fr' %}selected{% endifequal %}>Français</option>
        <option class="item-select-option" value="it" {% ifequal language 'it' %}selected{% endifequal %}>Italiano</option>
        <option class="item-select-option" value="pt" {% ifequal language 'pt' %}selected{% endifequal %}>Português</option>
      </select>
    </label>

    <label class="item" id="weather_station_label" style="display: none;">
      {% trans "Weather Provider" %}
      <select name="weather_station" id="weather_station" dir='rtl' class="item-select">
        <option class="item-select-option" value="Y" selected>{% trans "Yahoo! Weather" %}</option>
        <option class="item-select-option" value="G">{% trans "OpenWeatherMap" %}</option>
      </select>
    </label>

    <label class="item" id="t_unit_label">
      {% trans "Temperature Unit" %}
      <select name="t_unit_sel" id="t_unit_sel" dir='ltr' class="item-select">
        <option class="item-select-option" value="F" {% ifequal t_unit 'F' %}selected{% endifequal %}>{% trans "Fahrenheit" %}</option>
        <option class="item-select-option" value="C" {% ifequal t_unit 'C' %}selected{% endifequal %}>{% trans "Celsius" %}</option>
      </select>
    </label>

    <div class="item" style="padding-bottom:0;">
    <span id="watchid" style="display:none;">{{watchid}}</span>
    <span id="station_notice">{% trans "station en notice tips" %}</span>
    </div>

      <div class="item-input-wrapper">
        <input type="text" class="item-input" id="city_name" name="city_name" placeholder="{% trans "input city name" %}" value="{{city_name}}">
      </div>

      <label class="item" {%if show_version%}{%else%}style="display:none;"{%endif%}>
        选择表盘样式
        <select name="watch_style" id="watch_style" dir='rtl' class="item-select">
          <option class="item-select-option" value="qinxin" {% ifequal watch_style 'qinxin' %}selected{% endifequal %}>清新版</option>
          <option class="item-select-option" value="yuanshi" {% ifequal watch_style 'yuanshi' %}selected{% endifequal %}>原始版</option>
        </select>
      </label>

    <label class="item" id="switch_bw_label" {%if show_color%}{%else%}style="display:none;"{%endif%}>
      {% trans "Switch to Black/White" %}
      <input type="checkbox" class="item-toggle" name="switch_bw_check" id="switch_bw_check">
    </label>

      <label class="item" {%if show_invert_color%}{%else%}style="display:none;"{%endif%} id="bw_color_label">
        {% trans "Color Style" %}
        <select name="invert_color" id="invert_color" dir='rtl' class="item-select">
          <option class="item-select-option" value="B" {% ifequal invert_color 'B' %}selected{% endifequal %}>{% trans "Black/White" %}</option>
          <option class="item-select-option" value="W" {% ifequal invert_color 'W' %}selected{% endifequal %}>{% trans "White/Black" %}</option>
          <option class="item-select-option" value="0" {% ifequal invert_color '0' %}selected{% endifequal %}>{% trans "Black Have Line" %}</option>
          <option class="item-select-option" value="1" {% ifequal invert_color '1' %}selected{% endifequal %}>{% trans "White Have Line" %}</option>
          <option class="item-select-option" value="2" {% ifequal invert_color '2' %}selected{% endifequal %}>{% trans "Black No Line" %}</option>
          <option class="item-select-option" value="3" {% ifequal invert_color '3' %}selected{% endifequal %}>{% trans "White No Line" %}</option>
        </select>
      </label>

     <label id="color_label" class="item" {%if show_color%}{%else%}style="display:none;"{%endif%}>
        {% trans "Color Style" %}
        <input type="text" class="item-color item-color-normal" name="watch_color" id="watch_color" value="{{watch_color}}">
      </label>

      <label class="item" id="bluetooth_label">
        {% trans "BT Disconnect Vibration" %}
        <input type="checkbox" class="item-toggle" name="bluetooth_alert" id="bluetooth_alert" {%if bluetooth_alert%}checked{%endif%}>
      </label>

      <label class="item" id="tap_label">
        {% trans "Show Weather on Shake" %}
        <input type="checkbox" class="item-toggle" name="tap_check" id="tap_check" {%if tap_check %}checked{%endif%}>
      </label>

    <label class="item" id="shake_sens_label">
      &nbsp;&nbsp;{% trans "Shake Sensitivity" %}
      <select name="shake_sens_sel" id="shake_sens_sel" dir='ltr' class="item-select">
        <option class="item-select-option" value="0" {% ifequal shake_sens '0' %}selected{% endifequal %}>{% trans "High" %}</option>
        <option class="item-select-option" value="1" {% ifequal shake_sens '1' %}selected{% endifequal %}>{% trans "Medium" %}</option>
        <option class="item-select-option" value="2" {% ifequal shake_sens '2' %}selected{% endifequal %}>{% trans "Low" %}</option>
        <option class="item-select-option" value="4" {% ifequal shake_sens '4' %}selected{% endifequal %}>{% trans "Very Low" %}</option>
      </select>
    </label>

      <label class="item" id="hour24_label">
        {% trans "24 Hours" %}
        <input type="checkbox" class="item-toggle" name="hour24_check" id="hour24_check" {%if hour24_check %}checked{%endif%}>
      </label>

    <label class="item" id="show_second_label">
      {% trans "Display Second" %}
      <input type="checkbox" class="item-toggle" name="show_second_check" id="show_second_check" {%if show_second_check %}checked{%endif%}>
    </label>

      <label class="item">
        {% trans "Timing Vibrate" %}
        <select name="vibration_period" id="vibration_period" dir='ltr' class="item-select">
          <option class="item-select-option" value="0" selected>{% trans "No Vibrate" %}</option>
          <option class="item-select-option" value="30">{% trans "30 Minutes" %}</option>
          <option class="item-select-option" value="40">{% trans "40 Minutes" %}</option>
          <option class="item-select-option" value="45">{% trans "45 Minutes" %}</option>
          <option class="item-select-option" value="60">{% trans "1 Hour" %}</option>
        </select>
      </label>
      <label class="item" id="not_alert_label" style="display:none;">
        {% trans "No vibrate time" %}
        <input type="checkbox" class="item-toggle" name="not_alert" id="not_alert" checked>
      </label>
      <label class="item" id="not_alert_start_label" style="display:none;">
        &nbsp;&nbsp;{% trans "Start time" %}
        <select name="not_alert_start" id="not_alert_start" dir='rtl' class="item-select">
          {% for hour in no_alert_range %}
          <option class="item-select-option" value="{{hour}}">{{hour}} {% trans "o'clock" %}</option>
          {% endfor %}
        </select>
      </label>
      <label class="item" id="not_alert_end_label" style="display:none;">
        &nbsp;&nbsp;{% trans "End time" %}
        <select name="not_alert_end" id="not_alert_end" dir='rtl' class="item-select">
          {% for hour in no_alert_range %}
          <option class="item-select-option" value="{{hour}}">{{hour}} {% trans "o'clock" %}</option>
          {% endfor %}
        </select>
      </label>
  </div>

{%if show_custom%}
    <div class="item-container-header">{% trans "Information window setting" %}</div>
    <div class="item-container-content">
      <label class="item" id="countday_label">
        {% trans "Timing" %}
        <input type="checkbox" class="item-toggle" name="countday_check" id="countday_check">
      </label>
      <div class="item-input-wrapper" style="display: none;" id="mydate_name_div">
        <input type="text" class="item-input" id="mydate_name" name="mydate_name" placeholder="{% trans "Note" %}" value="{{mydate_name}}">
      </div>
      
      <label class="item" style="display: none;" id="mydate_div">
        &nbsp;&nbsp;{% trans "Date(Start/End)" %}
        <input type="date" class="item-date" id="mydate" name="mydate" value="{{mydate}}">
      </label>

      <label class="item" style="display: none;" id="mytime_div">
        &nbsp;&nbsp;{% trans "Time(Start/End)" %}
        <input type="time" class="item-time" id="mytime" name="mytime" value="{{mytime}}">
      </label>

      <label class="item" style="display: none;" id="countday_type_div">
        &nbsp;&nbsp;{% trans "Method" %}
        <select name="countday_type" id="countday_type" dir='rtl' class="item-select">
          <option class="item-select-option" value="Y" selected>{% trans "Years Months Days" %}</option>
          <option class="item-select-option" value="H">{% trans "Days Hours" %}</option>
          <option class="item-select-option" value="M">{% trans "Days Hours Minutes" %}</option>
          <option class="item-select-option" value="S">{% trans "Days Hours Minutes Seconds" %}</option>
        </select>
      </label>

    <label class="item" id="note_label">
      {% trans "Note" %}
      <input type="checkbox" class="item-toggle" name="note_check" id="note_check">
    </label>
    <div class="item-input-wrapper" style="display: none;" id="mytxt1_div">
      <input type="text" class="item-input" id="mytxt1" name="mytx1" placeholder="{% trans "Note 1" %}" value="{{mytxt1}}">
    </div>
    <div class="item-input-wrapper" style="display: none;" id="mytxt2_div">
      <input type="text" class="item-input" id="mytxt2" name="mytxt2" placeholder="{% trans "Note 2" %}" value="{{mytxt2}}">
    </div>
    
    <label class="item" id="today_weather_label">
      {% trans "Display Today Weather" %}
      <input type="checkbox" class="item-toggle" name="today_weather_check" id="today_weather_check">
    </label>

    <label class="item" id="health_label">
      {% trans "Health Data" %} ({% trans "Choose Two" %})
      <input type="checkbox" class="item-toggle" name="health_check" id="health_check">
    </label>

    <label class="item" style="display: none;" id="health_steps_label">
      &nbsp;&nbsp;<img class="health_icon" src="{% static 'webapp/images/step_orange.png' %}" /><span class="health_name">{% trans "Steps" %}</span>
      <input type="checkbox" class="item-toggle" name="health_steps" id="health_steps">
    </label>

    <label class="item" style="display: none;" id="health_calories_label">
      &nbsp;&nbsp;<img class="health_icon" src="{% static 'webapp/images/calories_orange.png' %}" /><span class="health_name">{% trans "Calories" %}</span>
      <input type="checkbox" class="item-toggle" name="health_calories" id="health_calories">
    </label>

    <label class="item" style="display: none;" id="health_time_label">
      &nbsp;&nbsp;<img class="health_icon" src="{% static 'webapp/images/time_orange.png' %}" /><span class="health_name">{% trans "Active Time" %}</span>
      <input type="checkbox" class="item-toggle" name="health_time" id="health_time">
    </label>

    <label class="item" style="display: none;" id="health_distance_label">
      &nbsp;&nbsp;<img class="health_icon" src="{% static 'webapp/images/km_orange.png' %}" /><span class="health_name">{% trans "Distance(km)" %}</span>
      <input type="checkbox" class="item-toggle" name="health_distance" id="health_distance">
    </label>

    <label class="item" style="display: none;" id="health_sleep_time_label">
      &nbsp;&nbsp;<img class="health_icon" src="{% static 'webapp/images/sleep_orange.png' %}" /><span class="health_name">{% trans "Sleep Time" %}</span>
      <input type="checkbox" class="item-toggle" name="health_sleep_time" id="health_sleep_time">
    </label>

    <label class="item" style="display: none;" id="health_deep_sleep_time_label">
      &nbsp;&nbsp;<img class="health_icon" src="{% static 'webapp/images/deep_sleep_orange.png' %}" /><span class="health_name">{% trans "Deep Sleep Time" %}</span>
      <input type="checkbox" class="item-toggle" name="health_deep_sleep_time" id="health_deep_sleep_time">
    </label>

    </div>
{%endif%}

    <div class="item-container-header" style="display: none;">Timeline设置</div>
    <div class="item-container-content" style="display: none;">

    <label class="item" id="timeline_news_label">
      新闻头条
      <input type="checkbox" class="item-toggle" name="timeline_news_check" id="timeline_news_check" {%if timeline_news_check %}checked{%endif%}>
    </label>

    <label class="item" id="timeline_english_label">
      每日英语
      <input type="checkbox" class="item-toggle" name="timeline_english_check" id="timeline_english_check" {%if timeline_english_check %}checked{%endif%}>
    </label>

    <label class="item" id="timeline_zhongchao_label">
      中超联赛
      <input type="checkbox" class="item-toggle" name="timeline_zhongchao_check" id="timeline_zhongchao_check" {%if timeline_zhongchao_check %}checked{%endif%}>
    </label>

    <label class="item" id="timeline_huangli_label">
      黄历宜忌
      <input type="checkbox" class="item-toggle" name="timeline_huangli_check" id="timeline_huangli_check" {%if timeline_huangli_check %}checked{%endif%}>
    </label>
    </div>


      <div class="item-container">
        <div class="button-container">
          <input type="button" class="item-button" id="submit_button" value="{% trans "Save" %}">
        </div>
      </div>

  {% ifequal language 'zh' %}
  <div class="item-container-footer">

    Developed by {% trans "pebblefan.com" %}, 

    {% trans "WeChat" %}:<a href="weixin://wxpay/bizpayurl?appid=wx7e4dacfaf6ac484f&mch_id=1376023102&nonce_str=zfhumhjaeygwdmas7wfhvxrkisdolw12&product_id=1&sign=7ABBF92A1A5C27AF5D9B8030F8482E40&time_stamp=1471920393
">pebblecn</a>
  {% else %}
  <div class="item-container-footer twitter">
  <a href="https://twitter.com/PebbleFan">
  <img class="twitter_logo" src="{% static 'webapp/images/pictures/twitter.png' %}" />
  <p>
  Follow us on twitter <b>@PebbleFan</b> to get update news!</p></a>
  {% endifequal %}

  </div>

</div>
<script type="text/javascript" src="{% static 'webapp/js/treasurebox.js' %}?t=2016120801"></script>
<script type="text/javascript">  
set_alert_value('{{vibration_period}}', '{{not_alert}}', '{{not_alert_start}}', '{{not_alert_end}}');  
set_info_window_check('{{countday_check}}', '{{note_check}}', '{{today_weather_check}}', '{{health_check}}');
set_countday_type_value('{{countday_type}}');
set_health_value_check('{{health_value}}');
set_tap_check('{{tap_check}}');
{%if show_color%}
set_switch_bw_check('{{switch_bw_check}}');
{%endif%}
</script>
</body>
</html>