{% load staticfiles %}

<html>
<head>
</head>
<body>
	<div class="item-container">
	  <div class="item-container-header"></div>
	  <div class="item-container-content">
		<div class="item-input-wrapper">
			<div style="font-size:60px;">{{info}}</div>
			<form action="/webapp/circledone" method="post" style="width: 40%; margin: 400px auto 0px;">
			{% csrf_token %}
			<input type="text" class="item-input" id="sn" name="sn" value="" style="float: left; padding: 10px; border-radius: 6px; width: 100%; font-size: 60px; line-height: 100px;">
			<input type="submit" value="save" style="border-radius: 6px; margin: 80px auto 0px; font-size: 60px; line-height: 100px; width: 100%;"/>
			</form>
		</div>
	  </div>
	</div>
</body>
</html>