{% load i18n %}
{% load staticfiles %}

<html>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'webapp/css/slate.css' %}?t=20" />
<script type="text/javascript" src="{% static 'webapp/js/slate_circle_rect.js' %}?t=6"></script>
<script type="text/javascript" src="{% static 'webapp/js/slate_circle_color.js' %}?t=2"></script>
</head>
<body>

<div class="buy_flag_div">
{% ifequal language 'zh' %}
  {%if already_pay %}
    <img class="buy_flag" src="{% static 'webapp/images/bg_own_zh.png' %}?t=4" />
    <span style="color: #d9ba9f;">ID:{{sn}}</span>
  {%else%}
    <img class="buy_flag" src="{% static 'webapp/images/bg_try_zh.png' %}?t=4" />
    <span style="color: #afc3c9;">ID:{{sn}}</span>
  {%endif%}
{% else %}
  {%if already_pay %}
    <img class="buy_flag" src="{% static 'webapp/images/bg_own_en.png' %}?t=4" />
    <span style="color: #d9ba9f;">ID:{{sn}}</span>
  {%else%}
    <img class="buy_flag" src="{% static 'webapp/images/bg_try_en.png' %}?t=4" />
    <span style="color: #afc3c9;">ID:{{sn}}</span>
  {%endif%}
{% endifequal %}
</div>

<div class="item-container">
  <span id="health_alert_text1" style="display: none;">{% trans "health_alert_text1" %}</span>
  <span id="health_alert_text2" style="display: none;">{% trans "health_alert_text2" %}</span>

  {% ifequal language 'zh' %}
  <img class="logo" src="{% static 'webapp/images/pebblefan_logo_orange.png' %}" />
  {% else %}
  <img class="logo" src="{% static 'webapp/images/logo_en_140x153.png' %}" />
  {% endifequal %}

  <div class="item-container-header">{% trans "Common Settings" %}{%if version_number%}   ({% trans "Version" %}: {{version_number}}){%endif%}</div>
  <div class="item-container-content">
    <label class="item" id="language_label">
      {% trans "Language" %}
      <select name="language_select" id="language_select" dir='rtl' class="item-select">
        <option class="item-select-option" value="en" {% ifequal language 'en' %}selected{% endifequal %}>English</option>
        <option class="item-select-option" value="zh" {% ifequal language 'zh' %}selected{% endifequal %}>简体中文</option>
        <option class="item-select-option" value="es" {% ifequal language 'es' %}selected{% endifequal %}>Español</option>
        <option class="item-select-option" value="de" {% ifequal language 'de' %}selected{% endifequal %}>Deutsch</option>
        <option class="item-select-option" value="fr" {% ifequal language 'fr' %}selected{% endifequal %}>Français</option>
        <option class="item-select-option" value="it" {% ifequal language 'it' %}selected{% endifequal %}>Italiano</option>
        <option class="item-select-option" value="pt" {% ifequal language 'pt' %}selected{% endifequal %}>Português</option>
      </select>
    </label>

    <label class="item" id="weather_station_label">
      {% trans "Weather Provider" %}
      <select name="weather_station" id="weather_station" dir='rtl' class="item-select">
        <option class="item-select-option" value="Y" selected>{% trans "Yahoo! Weather" %}</option>
        <option class="item-select-option" value="G">{% trans "OpenWeatherMap" %}</option>
        <option class="item-select-option" value="C">{% trans "China Weather" %}</option>
      </select>
    </label>

    <label class="item" id="t_unit_label">
      {% trans "Temperature Unit" %}
      <select name="t_unit_sel" id="t_unit_sel" dir='ltr' class="item-select">
        <option class="item-select-option" value="F" {% ifequal t_unit 'F' %}selected{% endifequal %}>{% trans "Fahrenheit" %}</option>
        <option class="item-select-option" value="C" {% ifequal t_unit 'C' %}selected{% endifequal %}>{% trans "Celsius" %}</option>
      </select>
    </label>

    <div class="item" style="padding-bottom:0;">
    <span id="watchid" style="display:none;">{{watchid}}</span>
    <span id="watch_color_type" style="display:none;">{{watch_color_type}}</span>
    <span id="station_en_notice" style="display: none;">{% trans "station en notice tips" %}</span>
    <span id="station_cn_notice" style="display: none;">{% trans "station cn notice tips" %}</span>
    </div>
      <div class="item-input-wrapper">
        <input type="text" class="item-input" id="city_name" name="city_name" placeholder="{% trans "input city name" %}" value="{{city_name}}">
      </div>

      <label class="item" style="display:none;" id="bw_color_label">
        表盘颜色
        <select name="invert_color" id="invert_color" dir='rtl' class="item-select">
          <option class="item-select-option" value="B" {% ifequal invert_color 'B' %}selected{% endifequal %}>上黑下白</option>
          <option class="item-select-option" value="W" {% ifequal invert_color 'W' %}selected{% endifequal %}>上白下黑</option>
          <option class="item-select-option" value="0" {% ifequal invert_color '0' %}selected{% endifequal %}>全黑有线</option>
          <option class="item-select-option" value="1" {% ifequal invert_color '1' %}selected{% endifequal %}>全白有线</option>
          <option class="item-select-option" value="2" {% ifequal invert_color '2' %}selected{% endifequal %}>全黑无线</option>
          <option class="item-select-option" value="3" {% ifequal invert_color '3' %}selected{% endifequal %}>全白无线</option>
        </select>
      </label>

     <label id="color_label" class="item" {%if show_color%}{%else%}style="display:none;"{%endif%}>
        {% trans "Color Style" %}
        <input type="text" class="item-color item-color-normal" name="watch_color" id="watch_color" value="{{watch_color}}">
    </label>

     <label id="bg_color_label" class="item" {%if show_color%}{%else%}style="display:none;"{%endif%}>
        &nbsp;&nbsp;{% trans "Background" %}
        <input type="text" class="item-color item-color-set" name="bg_color" id="bg_color" value="#{{bg_color}}">
     </label>

     <label id="hour_bg_color_label" class="item" {%if show_color%}{%else%}style="display:none;"{%endif%}>
        &nbsp;&nbsp;{% trans "Hour Background" %}
        <input type="text" class="item-color item-color-set" name="hour_bg_color" id="hour_bg_color" value="#{{hour_bg_color}}">
     </label>

     <label id="hour_text_color_label" class="item" {%if show_color%}{%else%}style="display:none;"{%endif%}>
        &nbsp;&nbsp;{% trans "Hour Text" %}
        <input type="text" class="item-color item-color-set" name="hour_text_color" id="hour_text_color" value="#{{hour_text_color}}">
     </label>

     <label id="minute_bg_color_label" class="item" {%if show_color%}{%else%}style="display:none;"{%endif%}>
        &nbsp;&nbsp;{% trans "Minute Background" %}
        <input type="text" class="item-color item-color-set" name="minute_bg_color" id="minute_bg_color" value="#{{minute_bg_color}}">
     </label>

     <label id="minute_text_color_label" class="item" {%if show_color%}{%else%}style="display:none;"{%endif%}>
        &nbsp;&nbsp;{% trans "Minute Text" %}
        <input type="text" class="item-color item-color-set" name="minute_text_color" id="minute_text_color" value="#{{minute_text_color}}">
     </label>

     <label id="second_bg_color_label" class="item" {%if show_color%}{%else%}style="display:none;"{%endif%}>
        &nbsp;&nbsp;{% trans "Seconds Background" %}
        <input type="text" class="item-color item-color-set" name="second_bg_color" id="second_bg_color" value="#{{second_bg_color}}">
     </label>

     <label id="circle_color_label" class="item" {%if show_color%}{%else%}style="display:none;"{%endif%}>
        &nbsp;&nbsp;{% trans "Circle" %}
        <input type="text" class="item-color item-color-set" name="circle_color" id="circle_color" value="#{{circle_color}}">
     </label>

     <label id="other_text_color_label" class="item" {%if show_color%}{%else%}style="display:none;"{%endif%}>
        &nbsp;&nbsp;{% trans "Other Text" %}
        <input type="text" class="item-color item-color-set" name="other_text_color" id="other_text_color" value="#{{other_text_color}}">
     </label>

     <label id="battery_color_label" class="item" {%if show_color%}{%else%}style="display:none;"{%endif%}>
        &nbsp;&nbsp;{% trans "Battery" %}
        <input type="text" class="item-color item-color-set" name="battery_color" id="battery_color" value="#{{battery_color}}">
     </label>



      <label class="item" id="bluetooth_label">
        {% trans "BT Disconnect Vibration" %}
        <input type="checkbox" class="item-toggle" name="bluetooth_alert" id="bluetooth_alert" {%if bluetooth_alert%}checked{%endif%}>
      </label>

      <label class="item" id="tap_label">
        {% trans "Show Weather on Shake" %}
        <input type="checkbox" class="item-toggle" name="tap_check" id="tap_check" {%if tap_check %}checked{%endif%}>
      </label>

    <label class="item" id="shake_sens_label">
      &nbsp;&nbsp;{% trans "Shake Sensitivity" %}
      <select name="shake_sens_sel" id="shake_sens_sel" dir='ltr' class="item-select">
        <option class="item-select-option" value="0" {% ifequal shake_sens '0' %}selected{% endifequal %}>{% trans "High" %}</option>
        <option class="item-select-option" value="1" {% ifequal shake_sens '1' %}selected{% endifequal %}>{% trans "Medium" %}</option>
        <option class="item-select-option" value="2" {% ifequal shake_sens '2' %}selected{% endifequal %}>{% trans "Low" %}</option>
        <option class="item-select-option" value="4" {% ifequal shake_sens '4' %}selected{% endifequal %}>{% trans "Very Low" %}</option>
      </select>
    </label>

      <label class="item" id="hour24_label">
        {% trans "24 Hours" %}
        <input type="checkbox" class="item-toggle" name="hour24_check" id="hour24_check" {%if hour24_check %}checked{%endif%}>
      </label>

      <label class="item">
        {% trans "Timing Vibrate" %}
        <select name="vibration_period" id="vibration_period" dir='ltr' class="item-select">
          <option class="item-select-option" value="0" selected>{% trans "No Vibrate" %}</option>
          <option class="item-select-option" value="30">{% trans "30 Minutes" %}</option>
          <option class="item-select-option" value="40">{% trans "40 Minutes" %}</option>
          <option class="item-select-option" value="45">{% trans "45 Minutes" %}</option>
          <option class="item-select-option" value="60">{% trans "1 Hour" %}</option>
        </select>
      </label>
      <label class="item" id="not_alert_label" style="display:none;">
        {% trans "No vibrate time" %}
        <input type="checkbox" class="item-toggle" name="not_alert" id="not_alert" checked>
      </label>
      <label class="item" id="not_alert_start_label" style="display:none;">
        &nbsp;&nbsp;{% trans "Start time" %}
        <select name="not_alert_start" id="not_alert_start" dir='ltr' class="item-select">
          {% for hour in no_alert_range %}
          <option class="item-select-option" value="{{hour}}">{{hour}} {% trans "o'clock" %}</option>
          {% endfor %}
        </select>
      </label>
      <label class="item" id="not_alert_end_label" style="display:none;">
        &nbsp;&nbsp;{% trans "End time" %}
        <select name="not_alert_end" id="not_alert_end" dir='ltr' class="item-select">
          {% for hour in no_alert_range %}
          <option class="item-select-option" value="{{hour}}">{{hour}} {% trans "o'clock" %}</option>
          {% endfor %}
        </select>
      </label>
  </div>

{%if show_custom%}
    <div class="item-container-header">{% trans "Advanced Settings" %}</div>
    <div class="item-container-content">
      <label class="item" id="countday_label" style="display: none;">
        数日子/数时间
        <input type="checkbox" class="item-toggle" name="countday_check" id="countday_check">
      </label>
      <div class="item-input-wrapper" style="display: none;" id="mydate_name_div">
        <input type="text" class="item-input" id="mydate_name" name="mydate_name" placeholder="日子名" value="{{mydate_name}}" maxlength="7">
      </div>
      
      <label class="item" style="display: none;" id="mydate_div">
        &nbsp;&nbsp;日期(起/止)
        <input type="date" class="item-date" id="mydate" name="mydate" value="{{mydate}}">
      </label>

      <label class="item" style="display: none;" id="mytime_div">
        &nbsp;&nbsp;时间(起/止)
        <input type="time" class="item-time" id="mytime" name="mytime" value="{{mytime}}">
      </label>

      <label class="item" style="display: none;" id="countday_type_div">
        &nbsp;&nbsp;计数方式
        <select name="countday_type" id="countday_type" dir='rtl' class="item-select">
          <option class="item-select-option" value="Y" selected>年月天</option>
          <option class="item-select-option" value="H">天时</option>
          <option class="item-select-option" value="M">天时分</option>
          <option class="item-select-option" value="S">天时分秒</option>
        </select>
      </label>

    <label class="item" id="note_label" style="display: none;">
      备忘录
      <input type="checkbox" class="item-toggle" name="note_check" id="note_check">
    </label>
    <div class="item-input-wrapper" style="display: none;" id="mytxt1_div">
      <input type="text" class="item-input" id="mytxt1" name="mytx1" placeholder="第一行" value="{{mytxt1}}" maxlength="7">
    </div>
    <div class="item-input-wrapper" style="display: none;" id="mytxt2_div">
      <input type="text" class="item-input" id="mytxt2" name="mytxt2" placeholder="第二行" value="{{mytxt2}}" maxlength="7">
    </div>

    <label class="item" id="show_temperature_label">
      {% trans "Display Temperature" %}
      <input type="checkbox" class="item-toggle" name="show_temperature_check" id="show_temperature_check" {%if show_temperature_check %}checked{%endif%}>
    </label>

    <label class="item" id="today_weather_label">
      {% trans "Display Today Weather" %}
      <input type="checkbox" class="item-toggle" name="today_weather_check" id="today_weather_check" {%if today_weather_check %}checked{%endif%}>
    </label>

    <label class="item" id="show_aqi_label">
      {% trans "Display Air Quality" %}
      <input type="checkbox" class="item-toggle" name="show_aqi_check" id="show_aqi_check" {%if show_aqi_check %}checked{%endif%}>
    </label>

    <label class="item" id="show_day_label">
      {% trans "Display Day" %}
      <input type="checkbox" class="item-toggle" name="show_day_check" id="show_day_check" {%if show_day_check %}checked{%endif%}>
    </label>

    <label class="item" id="show_bluetooth_label">
      {% trans "Display Bluetooth" %}
      <input type="checkbox" class="item-toggle" name="show_bluetooth_check" id="show_bluetooth_check" {%if show_bluetooth_check %}checked{%endif%}>
    </label>

    <label class="item" id="bluetooth_icon_label">
      &nbsp;&nbsp;{% trans "Bluetooth Icon" %}
        <select name="bluetooth_icon" id="bluetooth_icon" dir='ltr' class="item-select">
          <option class="item-select-option" value="C" {% ifequal bluetooth_icon 'C' %}selected{% endifequal %}>{% trans "Constellation" %}</option>
          <option class="item-select-option" value="N" {% ifequal bluetooth_icon 'N' %}selected{% endifequal %}>{% trans "Normal" %}</option>
        </select>
    </label>

    <label class="item" id="show_battery_label">
      {% trans "Display Battery" %}
      <input type="checkbox" class="item-toggle" name="show_battery_check" id="show_battery_check" {%if show_battery_check %}checked{%endif%}>
    </label>

    <label class="item" id="show_second_label">
      {% trans "Display Second" %}
      <input type="checkbox" class="item-toggle" name="show_second_check" id="show_second_check" {%if show_second_check %}checked{%endif%}>
    </label>

    <label class="item" id="show_nongli_label" {% ifnotequal language 'zh' %}style="display: none;"{% endifnotequal %}>
      显示农历和节日
      <input type="checkbox" class="item-toggle" name="show_nongli_check" id="show_nongli_check" {%if show_nongli_check %}checked{%endif%}/>
    </label>

    <label class="item" id="health_label">
      {% trans "Health Data" %} ({% trans "Choose Two" %})
      <input type="checkbox" class="item-toggle" name="health_check" id="health_check" {%if health_check %}checked{%endif%}>
    </label>

    <label class="item" style="display: none;" id="health_steps_label">
      &nbsp;&nbsp;<img class="health_icon" src="{% static 'webapp/images/step_orange.png' %}" /><span class="health_name">{% trans "Steps" %}</span>
      <input type="checkbox" class="item-toggle" name="health_steps" id="health_steps" checked>
    </label>

    <label class="item" style="display: none;" id="health_calories_label">
      &nbsp;&nbsp;<img class="health_icon" src="{% static 'webapp/images/calories_orange.png' %}" /><span class="health_name">{% trans "Calories" %}</span>
      <input type="checkbox" class="item-toggle" name="health_calories" id="health_calories" checked>
    </label>

    <label class="item" style="display: none;" id="health_time_label">
      &nbsp;&nbsp;<img class="health_icon" src="{% static 'webapp/images/time_orange.png' %}" /><span class="health_name">{% trans "Active Time" %}</span>
      <input type="checkbox" class="item-toggle" name="health_time" id="health_time">
    </label>

    <label class="item" style="display: none;" id="health_distance_label">
      &nbsp;&nbsp;<img class="health_icon" src="{% static 'webapp/images/km_orange.png' %}" /><span class="health_name">{% trans "Distance(km)" %}</span>
      <input type="checkbox" class="item-toggle" name="health_distance" id="health_distance">
    </label>

    <label class="item" style="display: none;" id="health_sleep_time_label">
      &nbsp;&nbsp;<img class="health_icon" src="{% static 'webapp/images/sleep_orange.png' %}" /><span class="health_name">{% trans "Sleep Time" %}</span>
      <input type="checkbox" class="item-toggle" name="health_sleep_time" id="health_sleep_time">
    </label>

    <label class="item" style="display: none;" id="health_deep_sleep_time_label">
      &nbsp;&nbsp;<img class="health_icon" src="{% static 'webapp/images/deep_sleep_orange.png' %}" /><span class="health_name">{% trans "Deep Sleep Time" %}</span>
      <input type="checkbox" class="item-toggle" name="health_deep_sleep_time" id="health_deep_sleep_time">
    </label>

    </div>
{%endif%}

    <div class="item-container-header" {% ifnotequal language 'zh' %}style="display: none;"{% endifnotequal %}>Timeline设置</div>
    <div class="item-container-content" {% ifnotequal language 'zh' %}style="display: none;"{% endifnotequal %}>

    <label class="item" id="timeline_news_label">
      新闻头条
      <input type="checkbox" class="item-toggle" name="timeline_news_check" id="timeline_news_check" {%if timeline_news_check %}checked{%endif%}>
    </label>

    <label class="item" id="timeline_english_label">
      每日英语
      <input type="checkbox" class="item-toggle" name="timeline_english_check" id="timeline_english_check" {%if timeline_english_check %}checked{%endif%}>
    </label>

    <label class="item" id="timeline_zhongchao_label">
      中超联赛
      <input type="checkbox" class="item-toggle" name="timeline_zhongchao_check" id="timeline_zhongchao_check" {%if timeline_zhongchao_check %}checked{%endif%}>
    </label>

    <label class="item" id="timeline_huangli_label">
      黄历宜忌
      <input type="checkbox" class="item-toggle" name="timeline_huangli_check" id="timeline_huangli_check" {%if timeline_huangli_check %}checked{%endif%}>
    </label>
    </div>


      <div class="item-container">
        <div class="button-container">
          <input type="button" class="item-button" id="submit_button" value="{% trans "Save" %}">
        </div>
      </div>

  {% ifequal language 'zh' %}
  <div class="item-container-footer">

    Developed by {% trans "pebblefan.com" %}, 

    {% trans "WeChat" %}:<a href="weixin://wxpay/bizpayurl?appid=wx7e4dacfaf6ac484f&mch_id=1376023102&nonce_str=zfhumhjaeygwdmas7wfhvxrkisdolw12&product_id=1&sign=7ABBF92A1A5C27AF5D9B8030F8482E40&time_stamp=1471920393
">pebblecn</a>
  {% else %}
  <div class="item-container-footer twitter">
  <a href="https://twitter.com/PebbleFan">
  <img class="twitter_logo" src="{% static 'webapp/images/pictures/twitter.png' %}" />
  <p>
  Follow us on twitter <b>@PebbleFan</b> to get update news!</p></a>
  {% endifequal %}

  </div>

  {% ifequal language 'fr' %}
  <div class="item-container-footer">
  <br/>
  Thanks for <a href="https://twitter.com/xiaocarmack">@apebbleaday</a> help translate Français!</div>
  {% endifequal %}
</div>
<script type="text/javascript" src="{% static 'webapp/js/circle.js' %}?t=2016101301"></script>
<script type="text/javascript">  
set_alert_value('{{vibration_period}}', '{{not_alert}}', '{{not_alert_start}}', '{{not_alert_end}}');  
// set_info_window_check('{{countday_check}}', '{{note_check}}', '{{today_weather_check}}', '{{health_check}}');
// set_countday_type_value('{{countday_type}}');
set_weather_station('{{weather_station}}');
set_health_value_check('{{health_value}}');
check_and_show_health_values();
set_tap_check('{{tap_check}}');
</script>
</body>
</html>